<div class="col-xs-12">
    <div class="row">
                <h1 style="color:white;background-color: rgb(99, 181, 228);">les details du produit choisi:</h1>         
                <div class="card" style="width: 18rem;">
                        <img [src]="produit[0].locationprod" class="card-img-top img" alt="">
                        <div class="card-body">
                                <h5 class="card-title">{{produit[0].descriptionProd}}</h5><br/>
                        <div class="card-text">
                                <h1 class="prix">Prix:{{produit[0].prix}}</h1><br/>
                                <p class="prix">promotion:{{produit[0].promotion}}MAD</p> <br/>  
                        
                                <p class="prix">Marque:{{produit[0].marque}}</p><br/>
                                <p class="prix">Categorie:{{produit[0].categorie}}</p><br/>  
                        </div>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                </div>
        </div>
    </div>
    
    <!--
            
                    <img [src]="produit[0].locationprod" class="img">
                    <h1 class="prix">Description:{{produit[0].descriptionProd}}</h1>
                    <div class="row">
                    <h1 class="prix">Prix:{{produit[0].prix}}</h1>
                    <h1 class="prix">promotion:{{produit[0].promotion}}MAD</h1>   
                    </div>
                    <h1 class="prix">Marque:{{produit[0].marque}}</h1>
                    <h1 class="prix">Categorie:{{produit[0].categorie}}</h1>
                    <h1 class="prix">{{produit[0].nombrelikes}}</h1>
                    <h1 class="prix">{{produit[0].nombredislikes}}</h1>
    -->